@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'AvantGarde', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ẩn scrollbar cho mọi trình duyệt */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
@font-face {
  font-family: 'AvantGarde';
  src: url('./assets/fonts/AVGARDD_2.TTF') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvantGarde';
  src: url('./assets/fonts/AVGARDDO_2.TTF') format('truetype');
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family: 'AvantGarde';
  src: url('./assets/fonts/AVGARDN_2.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}
